@import "../../styles/variables";

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    img {
        height: 40px;
        width: auto;

        @media (max-width: 950px) {
            height: 30px;
        }
    }
}